
<%- include('layouts/header') %>
<div class="mt-4 p-5 bg-primary text-white rounded">
  <h4>Bienvenido a <%= titulo %></h4>
  <p>Lorem ipsum...</p>
</div>
  </div>


  <%- include('layouts/footer') %>